@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grechen+Fuemen&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+HU:wght@100..400&family=Playwrite+VN:wght@100..400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grechen+Fuemen&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+HU:wght@100..400&family=Playwrite+VN:wght@100..400&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/*----------- general -------------*/
body {
  margin: 0;
  padding: 0;

  /* background-repeat: no-repeat; */
  color: rgba(0, 0, 0, 0.886);
  background-size: cover;
}
.dark {
  background-image: linear-gradient(to right, #6c63ff, black);
  color: #fff;
}

.light {
  background-image: linear-gradient(to right, #6c63ff, white);
  color: #000;
}

* {
  font-family: "Shantell Sans", cursive;
  box-sizing: border-box;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  font-size: 20px;
  transition: font-size 0.3s;
  color: #000;
}
a:hover {
  cursor: pointer;
  font-size: 25px;
}
body.dark a {
  color: #fff;
}

ul {
  list-style-type: none;
}

.container {
  width: calc(100% - 200px);
  margin: auto;
}

.row {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/*----------- dropdown -------------*/

.dropbtn,
.dropNavbtn {
  background-image: linear-gradient(to right, #6c63ff, white);
  color: black;
  padding: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5%;
  box-shadow: 3px 6px 5px #11111199;
  border-bottom: solid 3px #6c63ff;
}

.dropdown-nav {
  display: none;
}
.dropNavbtn {
  font-size: 17px;
}

.dropdown-nav:hover .dropdown-content {
  display: block;
}
body.dark .dropbtn,
body.dark .dropNavbtn {
  color: white;
  background-image: linear-gradient(to right, #6c63ff, black);
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  left: auto;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #6b63ffa3;
}

body.dark .dropdown-content {
  background-image: linear-gradient(to right, #6c63ff, black);
}
body.dark .dropdown-content a {
  color: white;
}

body.dark .dropdown-content a:hover {
  background-color: #6b63ffad;
}

/*----------- navbar -------------*/

nav {
  background-image: linear-gradient(to right, #6c63ff, white);
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.dropdown-nav {
  display: none;
}

.logo {
  font-family: "Playwrite VN", cursive;
  font-size: 25px;
}

.scrollNav {
  box-shadow: 3px 6px 5px #11111199;
}
body.dark .scrollNav {
  box-shadow: 3px 6px 5px #dad8d899;
}

a.light-btn {
  display: none;
}

body.dark a.dark-btn {
  display: none;
}
body.dark a.light-btn {
  display: block;
}

body.dark nav {
  background-image: linear-gradient(to right, #6c63ff, black);
}

/*----------- header -------------*/

.header {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
  gap: 10px;
}


.task_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

input {
  padding: 30px;
  width: 40%;
  border-radius: 2%;
  border: none;
  border-bottom: 1px solid #cccccc8a;
  font-size: 20px;
  transition: border-color 0.3s;
  box-shadow: 3px 6px 5px #11111199;
}

input:focus {
  outline: none;
  border: none;
  border-bottom: solid 3px #6c63ff;
  /* border: 1px solid #6C63FF;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.5); */
}

.add-btn {
  padding: 28px;
  border: 0;
  border-radius: 4%;
  background-color: #6c63ff;
  font-size: 25px;
  font-weight: 600;
  box-shadow: 3px 6px 5px #11111199;
}

.add-btn:hover {
  cursor: pointer;
  background-color: #6b63ffa3;
  padding-right: 2px;
}
body.dark .add-btn {
  color: #fff;
}

/*----------- tasks list -------------*/

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.all-tasks h2 {
  text-align: center;
  font-size: 30px;
  margin: 50px 0;
  align-self: center;
}

.task:hover {
  transform: scale(110%);
}
.task i {
  font-size: 25px;
}

.task button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.fa-circle-check {
  color: green;
}
.task-item {
  font-size: 20px;
}
.completedTask {
  text-decoration: line-through;
  color: gray;
}

.delete {
  color: red;
}

.delete:hover {
  padding-right: 1px;
}

#deleteCompletedBtn {
  padding: 2%;
  border-radius: 5%;
  border: none;
  font-size: 17px;
  background-image: linear-gradient(to right, #6c63ff, white);
  box-shadow: 3px 6px 5px #11111199;
  border-bottom: solid 3px #6c63ff;
}

#deleteCompletedBtn:hover {
  cursor: pointer;
  padding: 4%;
  background-image: linear-gradient(to right, red, white);
}

body.dark #deleteCompletedBtn {
  color: #fff;
  background-image: linear-gradient(to right, #6c63ff, black);
}

body.dark #deleteCompletedBtn:hover {
  background-image: linear-gradient(to right, red, black);
}
.task {
  padding: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  background-color: #ffffffa9;
  border-radius: 3px;
  width: 45%;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.tasksButtons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 35%;
}
/*----------- footer -------------*/

footer {
  margin-top: 80px;
  padding: 40px;
  background-color: #ffffffa9;
  box-shadow: -2px -5px 16px rgba(0, 0, 0, 0.574);
  text-align: center;
}

body.dark footer {
  background-color: #6b63ff77;
  box-shadow:-1px -1px 10px #fff; /* ظل أغمق وواضح */
}

/*----------- animation -------------*/

.typewriter {
  /* font-family: monospace; */
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black;

  
  margin: 0 auto 20px; /* هذا اللي بوسطه أفقياً */
  text-align: center;

  animation: typing 7s steps(35) forwards infinite, blink 0.7s step-end infinite;
}

body.dark .typewriter{
 border-right: 2px solid #fff;
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 35ch;
  } 
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/*----------- responsive screen -------------*/

@media screen and (max-width: 700px) {
  .navbar {
    display: none;
  }

  .dropdown-nav {
    position: relative;
    display: inline-block;
  }
   .typewriter {
    font-size: 16px; /* أصغر شوي عشان ما يطلع لبرا */
  }
}

@media screen and (max-width: 590px) {
  .container {
    width: calc(100% - 100px);
  }

}

@media screen and (max-width: 420px) {
  .container {
    width: calc(100% - 50px);
  }
   .typewriter {
    font-size: 13px; /* أصغر شوي عشان ما يطلع لبرا */
  }
}

@media screen and (max-width: 1220px) {
  input {
    width: 70%;
  }
}

@media screen and (max-width: 780px) {
  input {
    width: 100%;
  }
  .add-btn {
    width: 100%;
    padding: 18px;
  }

  .task {
    width: 100%;
  }
}

@media screen and (max-width: 1270px) {
  .tasksButtons {
    width: 40%;
  }
}

@media screen and (max-width: 1000px) {
  .tasksButtons {
    width: 50%;
  }
}

@media screen and (max-width: 845px) {
  .all-tasks h2 {
    width: 100%;
  }

  .tasksButtons {
    width: 100%;
    margin-bottom: 40px;
    justify-content: center;
    gap: 10px;
  }
}
@media screen and (max-width: 545px) {
  .tasksButtons .dropdown-content {
    display: none;
    position: absolute;
    right: auto;
    left: 0;
  }
}

